.Ticket-container {
	padding: 20px;
	margin-top: 20px;

	background: white;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.Ticket-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.Ticket-price {
	font-size: 24px;
	line-height: 24px;
	color: #2196F3;
}

.Ticket-carrier {
	margin-right: 40px;
}

.Ticket-segment {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.Ticket-segment > * {
	flex-grow: 1;
	max-width: 140px;
}