.App {
  margin: 0 auto;
  max-width: 754px;
  margin-bottom: 50px;
}

.App-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.App-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1rem 0;
}

.App-row > * {
	flex-grow: 1;
}

.App-column {
	margin-left: 20px;
}